joint-state-publisher-gui==2.4.0
ros2pkg==0.18.11
ros2param==0.18.11
examples-rclpy-minimal-client==0.15.3
ros2node==0.18.11
rosidl-runtime-py==0.9.3
launch-testing-ros==0.19.8
ament-flake8==0.12.11
ros2interface==0.18.11
tf2-tools==0.25.12
examples-rclpy-minimal-subscriber==0.15.3
ros2doctor==0.18.11
rqt-runtime-monitor==1.0.0
ros2lifecycle==0.18.11
examples-rclpy-minimal-service==0.15.3
rqt-topic==1.5.0
sensor-msgs-py==4.2.4
ament-cppcheck==0.12.11
ros2topic==0.18.11
rqt-tf-tree==1.0.5
launch-yaml==1.0.7
topic-monitor==0.20.5
rqt-publisher==1.5.0
quality-of-service-demo-py==0.20.5
ros2run==0.18.11
launch==1.0.7
examples-rclpy-minimal-action-client==0.15.3
ament-copyright==0.12.11
rqt-bag==1.1.5
rqt-controller-manager==2.48.0
rqt-plot==1.1.3
rqt-service-caller==1.0.5
rqt-moveit==1.0.1
joint-state-publisher==2.4.0
demo-nodes-py==0.20.5
rqt-dotgraph==0.0.4
rqt-srv==1.0.3
ament-index-python==1.4.0
rqt==1.1.7
rqt-robot-dashboard==0.5.8
ament-pep257==0.12.11
rqt-console==2.0.3
sros2==0.10.5
ros2service==0.18.11
ament-lint==0.12.11
rqt-robot-steering==1.0.0
examples-rclpy-minimal-publisher==0.15.3
domain-coordinator==0.10.0
launch-ros==0.19.8
launch-testing==1.0.7
rqt-shell==1.0.2
rpyutils==0.2.1
rqt-action==2.0.1
ros2multicast==0.18.11
ros2action==0.18.11
examples-rclpy-minimal-action-server==0.15.3
rqt-robot-monitor==1.0.6
rqt-gui-py==1.1.7
ament-package==0.14.0
rqt-graph==1.3.1
ros2launch==0.19.8
ament-xmllint==0.12.11
rqt-gauges==0.0.3
examples-rclpy-executors==0.15.3
ros2component==0.18.11
rqt-reconfigure==1.1.2
action-tutorials-py==0.20.5
rosidl-cli==3.1.6
teleop-twist-keyboard==2.4.0
launch-xml==1.0.7
ament-lint-cmake==0.12.11
ros2cli==0.18.11
rqt-gui==1.1.7
ros2bag==0.15.13
rqt-msg==1.2.0
ament-cpplint==0.12.11
tf2-ros-py==0.25.12
rqt-py-console==1.0.2
rqt-joint-trajectory-controller==2.41.0
osrf-pycommon==2.1.4
rqt-bag-plugins==1.1.5
ament-uncrustify==0.12.11
stereo-msgs==4.2.4
unique-identifier-msgs==2.2.1
pcl-msgs==1.0.0
python-qt-binding==1.1.2
rcl-interfaces==1.2.1
geometry-msgs==4.2.4
logging-demo==0.20.5
ament-cmake-google-benchmark==1.3.11
composition-interfaces==1.2.1
rosidl-generator-c==3.1.6
lifecycle-msgs==1.2.1
rosidl-cmake==3.1.6
builtin-interfaces==1.2.1
turtlesim==1.4.2
rosidl-typesupport-cpp==2.0.2
tf2-py==0.25.12
map-msgs==2.1.0
rosidl-typesupport-fastrtps-cpp==2.2.2
ament-cmake-test==1.3.11
shape-msgs==4.2.4
rosidl-adapter==3.1.6
std-srvs==4.2.4
rcutils==5.1.6
example-interfaces==0.9.3
tf2-msgs==0.25.12
qt-gui-cpp==2.2.3
std-msgs==4.2.4
controller-manager-msgs==2.48.0
rosbag2-py==0.15.13
rclpy==3.3.15
rosidl-typesupport-fastrtps-c==2.2.2
sensor-msgs==4.2.4
controller-manager==2.48.0
rosidl-typesupport-introspection-c==3.1.6
action-msgs==1.2.1
rosidl-typesupport-c==2.0.2
test-msgs==1.2.1
qt-dotgraph==2.2.3
mocap4r2-control-msgs==0.0.7
actionlib-msgs==4.2.4
pendulum-msgs==0.20.5
rosbag2-interfaces==0.15.13
trajectory-msgs==4.2.4
rosgraph-msgs==1.2.1
diagnostic-msgs==4.2.4
visualization-msgs==4.2.4
rqt-py-common==1.1.7
cv-bridge==3.2.1
rosidl-typesupport-introspection-cpp==3.1.6
rosidl-generator-py==0.14.4
qt-gui==2.2.3
statistics-msgs==1.2.1
nav-msgs==4.2.4
control-msgs==4.7.0
angles==1.15.0
qt-gui-py-common==2.2.3
rosidl-parser==3.1.6
laser-geometry==2.4.0
action-tutorials-interfaces==0.20.5
message-filters==4.3.5
rosidl-generator-cpp==3.1.6
rmw-dds-common==1.6.0
resource-retriever==3.1.2
interactive-markers==2.3.2
tf2-geometry-msgs==0.25.12
image-geometry==3.2.1
tf2-kdl==0.25.12
gym-notices==0.0.8
pydantic_core==2.33.0
nvidia-cusolver-cu12==11.7.1.2
pyglet==2.1.3
MarkupSafe==2.1.5
sentry-sdk==2.25.1
fonttools==4.56.0
nvidia-cuda-cupti-cu12==12.6.80
torchaudio==2.6.0+cu126
nvidia-curand-cu12==10.3.7.77
contourpy==1.3.1
requests==2.32.3
protobuf==5.29.4
triton==3.2.0
nvidia-cusparse-cu12==12.5.4.2
numpy==2.2.4
typing_extensions==4.12.2
fsspec==2024.6.1
nvidia-nccl-cu12==2.21.5
networkx==3.3
gitdb==4.0.12
scipy==1.15.2
smmap==5.0.2
certifi==2025.1.31
setuptools==75.8.0
pillow==11.0.0
joblib==1.4.2
torchvision==0.21.0+cu126
nvidia-cublas-cu12==12.6.4.1
nvidia-cusparselt-cu12==0.6.3
mpmath==1.3.0
nvidia-cufft-cu12==11.3.0.4
pygame==2.6.1
gym==0.26.2
colorama==0.4.6
pip==25.0
psutil==7.0.0
nvidia-nvtx-cu12==12.6.77
pydantic==2.11.1
idna==3.10
scikit-learn==1.6.1
charset-normalizer==3.4.1
threadpoolctl==3.6.0
nvidia-cuda-nvrtc-cu12==12.6.77
wandb==0.19.9
wheel==0.45.1
nvidia-cuda-runtime-cu12==12.6.77
sympy==1.13.1
six==1.17.0
nvidia-nvjitlink-cu12==12.6.85
setproctitle==1.3.5
packaging==24.2
matplotlib==3.10.1
kiwisolver==1.4.8
cycler==0.12.1
PyYAML==6.0.2
urllib3==2.3.0
nvidia-cudnn-cu12==9.5.1.17
docker-pycreds==0.4.0
pyparsing==3.2.3
annotated-types==0.7.0
click==8.1.8
cloudpickle==3.1.1
filelock==3.13.1
typing-inspection==0.4.0
GitPython==3.1.44
Jinja2==3.1.4
torch==2.6.0+cu126
python-dateutil==2.9.0.post0
platformdirs==4.3.7
